{% extends 'admin/contest_layout.html' %}
{% block title %}اطلاعات اولیه - مواد درسی کنکور{% endblock %}
{% block content %}
{{ block.super }}
<div class="panel panel-default cpanel">
    <div class="panel-heading">
    <h5><span class="fa fa-desktop"></span>&nbsp;&nbsp;
        <a href="{% url 'admin.home' %}">پنل مدیریت سامانه</a>&nbsp;&nbsp;
        <span class="fa fa-angle-left small"></span>&nbsp;&nbsp;
        اطلاعات اولیه
    </h5>
        </div><br>
    <div class="panel-body"><br>
    <div class="container-fluid">
    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="{% url 'admin.de_basic_info.organization' %}"  role="tab">سازمان ها</a></li>
        <li role="presentation"><a href="{% url 'admin.de_basic_info.entrance_type' %}"  role="tab">انواع کنکور</a></li>
        <li role="presentation"><a href="{% url 'admin.de_basic_info.examination_group' %}"  role="tab">گروه های آزمایشی</a></li>
        <li role="presentation"><a href="{% url 'admin.de_basic_info.entrance_set' %}"  role="tab">مجموعه های کنکور</a></li>
        <li role="presentation" class="active"><a href="{% url 'admin.de_basic_info.entrance_lesson' %}"  role="tab">مواد درسی کنکور</a></li>
        <li role="presentation"><a href="{% url 'admin.de_basic_info.entrance_subset' %}"  role="tab">رشته ها</a></li>
        <li role="presentation"><a href="{% url 'admin.de_basic_info.task_message_type' %}"  role="tab">انواع پیغام</a></li>
      </ul>
    </div>
    <br>
    <div class="container-fluid">
    <br><br>
    <div class="row">
    <div class="col-sm-6 col-sm-push-6">&nbsp;
    </div>
    <div class="col-sm-6 col-sm-pull-6">
        {% if etypes %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>عنوان</th>
                </tr>
            </thead>
            <tbody>
                {% for ty in etypes %}
                    <tr>
                        <td class="col-md-3 col-sm-4"><a href="{% url 'admin.de_basic_info.entrance_lesson.details' pk=ty.id %}" class=" btn btn-link">{{ ty.title }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="text-muted text-center">رکوردی ثبت نشده است!</div>
        {% endif %}
    </div>
    </div>
    </div>
    </div></div></div>
{%  endblock %}