{% extends 'admin/contest_layout.html' %}
{% load staticfiles %}
{% block title %}اطلاعات اولیه - سازمان ها{% endblock %}
{% block content %}
{{ block.super }}
<div class="panel panel-default cpanel">
    <div class="panel-heading">
    <h5><span class="fa fa-desktop"></span>&nbsp;&nbsp;
        <a href="{% url 'admin.home' %}">پنل مدیریت سامانه</a>&nbsp;&nbsp;
        <span class="fa fa-angle-left small"></span>&nbsp;&nbsp;
        اطلاعات اولیه
    </h5>
        </div><br>
    <div class="panel-body"><br>
    <div class="container-fluid">
    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="{% url 'admin.de_basic_info.organization' %}"  role="tab">سازمان ها</a></li>
        <li role="presentation"><a href="{% url 'admin.de_basic_info.entrance_type' %}"  role="tab">انواع کنکور</a></li>
        <li role="presentation"><a href="{% url 'admin.de_basic_info.examination_group' %}"  role="tab">گروه های آزمایشی</a></li>
        <li role="presentation"><a href="{% url 'admin.de_basic_info.entrance_set' %}"  role="tab">مجموعه های کنکور</a></li>
        <li role="presentation"><a href="{% url 'admin.de_basic_info.entrance_lesson' %}"  role="tab">مواد درسی کنکور</a></li>
        <li role="presentation"><a href="{% url 'admin.de_basic_info.entrance_subset' %}"  role="tab">رشته ها</a></li>
        <li role="presentation"><a href="{% url 'admin.de_basic_info.task_message_type' %}"  role="tab">انواع پیغام</a></li>
      </ul>
    </div>
    <br>
    <div class="container-fluid">
    <br><br>
    <div class="row">
    <div class="col-sm-6 col-sm-push-6">
                        <div class="panel panel-success">
                <div class="panel-heading bg-success">سازمان جدید</div>
                <div class="panel-body">

        <form class="form-inline" method="post" action="{% url 'admin.de_basic_info.organization' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% if has_form_message %}
                {% ifequal form_message 1 %}
                    <div class="alert alert-danger text-center">
                        مشخصات تکراری وارد شده است!
                    </div>
                {% endifequal %}
            {% endif %}
            <div class="form-group">
                <label class="sr-only" for="{{ form.title.id_for_label }}">عنوان</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label class="sr-only" for="{{ form.image.id_for_label }}">لوگو</label>
                {{ form.image }}
            </div>
            <button type="submit" class="btn btn-success">اضافه</button>&nbsp;&nbsp;&nbsp;
            <span class="text-danger">{{ form.title.errors.0 }}</span>
        </form></div></div>
    </div>
    <div class="col-sm-6 col-sm-pull-6">
        {% if organizations %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>عنوان</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for org in organizations %}
                    <tr>
                        <td class="col-md-4 col-sm-4">
                            {% if org.image %}
                            <img class="img-circle" src="{{ org.image.url }}"
                                                           alt="" width="40" height="40">
                            {% else %}
                                <img class="img-circle" src="{% static 'image/noimage.jpg' %}"
                                                           alt="no image" width="40" height="40">
                            {% endif %}
                            &nbsp;&nbsp;&nbsp;
                            {{ org.title }}
                        </td>
                        <td>
                            <a class="btn btn-xs text-warning glyphicon glyphicon-pencil" href="{% url 'admin.de_basic_info.organization.edit' pk=org.id %}"></a>&nbsp;
                            <a class="btn btn-xs text-danger glyphicon glyphicon-off" href="{% url 'admin.de_basic_info.organization.del' pk=org.id %}"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="text-muted text-center">رکوردی ثبت نشده است!</div>
        {% endif %}
    </div>
    </div>
    </div>
    </div></div></div>
{%  endblock %}