{% extends 'dataentry/main_layout.html' %}
{% block title %}خانه{% endblock %}
{% block content %}
    <h3><span class="fa fa-desktop"></span>&nbsp;&nbsp;
        <a href="{% url 'admin.home' %}">پنل مدیریت سامانه</a>&nbsp;&nbsp;
        <span class="fa fa-angle-left small"></span>&nbsp;&nbsp;
        خانه
    </h3>
    <hr>
    <div class="container-fluid">
        <h1 class="text-center text-muted">سیستم ورود اطلاعات کنکوق</h1>
        <h3 class="text-center text-info">برای دسترسی به سایر بخش ها از منوی سمت راست استفاده نمایید</h3>
    </div>
{%  endblock %}