{% extends 'admin/contest_layout.html' %}
{% block title %}
    {% if has_error %}
        بسته های کنکور - بروز خطا
    {% else %}
        بسته های کنکور - {{ entrance.entrance_set.title }}: {{ entrance.entrance_type.title }} ({{ entrance.year }}/{{ entrance.month)
    {% endif %}
{% endblock %}
{% block content %}
{{ block.super }}
<div class="panel panel-default cpanel">
    <div class="panel-heading">
    <h5><span class="fa fa-desktop"></span>&nbsp;&nbsp;
        <a href="{% url 'admin.home' %}">پنل مدیریت سامانه</a>&nbsp;&nbsp;
        <span class="fa fa-angle-left small"></span>&nbsp;&nbsp;
        <a href="{% url 'admin.de_entrance' %}">کنکورها</a>&nbsp;&nbsp;
        <span class="fa fa-angle-left small"></span>&nbsp;&nbsp;
        {% if has_error %}
            خطا
        {% else %}
            <a href="{% url 'admin.de_entrance.booklets' pk=entrance.id %}">
            {{ entrance.entrance_set.title }}: <span class="text-muted">{{ entrance.entrance_type.title }} ({{ entrance.year }}/{{ entrance.month }})</span>
            </a>&nbsp;&nbsp;
            <span class="fa fa-angle-left small"></span>&nbsp;&nbsp;
            بسته ها
        {% endif %}
    </h5>
        </div><br>
    <div class="panel-body"><br>
    <div class="container-fluid">
    {% if has_error %}
        {% ifequal error_no 1 %}
        <div class="alert alert-danger" role="alert">
             چنین رکوردی موجود نیست
            <br>
            <a href="{% url 'admin.de_entrance' %}" class="btn btn-danger">بازگشت</a>
        </div>
        {% endifequal %}
    {% else %}
        <br>
        <div class="row">
            <div class="col-sm-12">
                {% if packages %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>نوع</th>
                            <th>کلید شاخص</th>
                            <th>زمان انتشار</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load filters %}
                        {% for pack in packages %}
                            <tr>
                                <td>
                                    {% if pack.package_type__title == "CREATE" %}
                                        ایجاد
                                    {% else %}
                                        تغییر
                                    {% endif %}
                                </td>
                                <td>{{ pack.unique_key.get_hex }}</td>
                                <td>{{ pack.create_time|jalali }}</td>
                                <td>
                                    <a href="{% url 'admin.de_entrance.publish.del' pk=pack.id %}" class="btn btn-sm btn-default text-danger fa fa-power-off"
                                    data-toggle="tooltip" data-placement="top" data-original-title="حذف"></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div class="text-muted text-center">رکوردی ثبت نشده است!</div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    </div></div></div>
{% endblock %}