		/** Ultra Light */
		@font-face {
		  font-family: "SF";
		  font-weight: 100;
		  src: url("https://cdn.zhycan.com/fonts/sanfranciscodisplay-ultralight-webfont.woff");
		}

		/** Thin */
		@font-face {
		  font-family: "SF";
		  font-weight: 200;
		  src: url("https://cdn.zhycan.com/fonts/sanfranciscodisplay-thin-webfont.woff");
		}

		/** Regular */
		@font-face {
		  font-family: "SF";
		  font-weight: 400;
		  src: url("https://cdn.zhycan.com/fonts/sanfranciscodisplay-regular-webfont.woff");
		}

		/** Medium */
		@font-face {
		  font-family: "SF";
		  font-weight: 500;
		  src: url("https://cdn.zhycan.com/fonts/sanfranciscodisplay-medium-webfont.woff");
		}

		/** Semi Bold */
		@font-face {
		  font-family: "SF";
		  font-weight: 600;
		  src: url("https://cdn.zhycan.com/fonts/sanfranciscodisplay-semibold-webfont.woff");
		}

		/** Bold */
		@font-face {
		  font-family: "SF";
		  font-weight: 700;
		  src: url("https://cdn.zhycan.com/fonts/sanfranciscodisplay-bold-webfont.woff");
		}

		//@font-face {
		//  font-family: "ir_sans";
		//	font-weight: 400;
		//  src: url("/static/concough/fonts/IRANSansWeb.woff");
		//}
        //
		//@font-face {
		//  font-family: "ir_sans";
		//  font-weight: 200;
		//  src: url("/static/concough/fonts/IRANSansWeb_UltraLight.woff");
        //
		//}
        //
		//@font-face {
		//  font-family: "ir_sans";
		//  font-weight: 300;
		//  src: url("/static/concough/fonts/IRANSansWeb_Light.woff");
		//}
        //
		//@font-face {
		//  font-family: "ir_sans";
		//  font-weight: 500;
		//  src: url("/static/concough/fonts/IRANSansWeb_Medium.woff");
		//}
        //
		//@font-face {
		//  font-family: "ir_sans";
		//  font-weight: 600;
		//  src: url("/static/concough/fonts/IRANSansWeb_Bold.woff");
		//}
