{% extends 'admin/contest_layout.html' %}
{% block title %}مدیریت محتوای کنکوق{% endblock %}
{% block content %}
{{ block.super }}
<div class="panel panel-default cpanel">
    <div class="panel-heading">

    <h5><span class="fa fa-desktop"></span>&nbsp;&nbsp;
        <a href="{% url 'admin.home' %}">پنل مدیریت سامانه</a>&nbsp;&nbsp;
        <span class="fa fa-angle-left small"></span>&nbsp;&nbsp;
        مدیریت محتوا
    </h5>
        </div>
    <div class="panel-body">
        <br>
    <div class="container-fluid">
        <h1 class="text-center text-muted">سیستم مدیریت محتوای کنکوق</h1>
        <h3 class="text-center text-info">برای دسترسی به سایر بخش ها از منوی بالا استفاده نمایید</h3>
    </div></div>
        </div>
{%  endblock %}