<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <title>کنکوق - فراموشی گذرواژه</title>
</head>
<body>
    <style rel="stylesheet" type="text/css" scoped="scoped">
        * { font-family: tahoma, verdana, sans-serif; }
    </style>
    <div style="text-align: center; border: 1px solid #EEE; direction: rtl">
        <h1><a href="{{ protocol }}://{{ domain }}" style="text-decoration: none; color:#009afd">کنکوق</a></h1>
        <h2 style="color: #666">بازیابی گذرواژه</h2>
        <br>
        <p style="text-align: right; line-height: 2.5; padding: 10px;">
یک نفر توسط پست الکترونیکی زیر درخواست بازیابی گذرواژه نموده است. اگر این پست الکترونیکی متعلق به شماست لینک زیر را دنبال نمایید، در غیر اینصورت این ایمیل را نادیده بگیرید:
            <br>
            {{ protocol }}://{{ domain }}{% url 'main.auth.passresetconfirm' uidb64=uid token=token %}
            <br>
            <span style="display: block; text-align: center">
                <a style="background: #009afd; color: #FFF; padding: 10px 30px; text-decoration: none; border-radius: 3px"
                   href="{{ protocol }}://{{ domain }}{% url 'main.auth.passresetconfirm' uidb64=uid token=token %}">
                    بازیابی گذرواژه
                </a>
            </span>
            <br>
            <b>پست الکترونیکی:</b>
            <br>
            {{ email }}
            <br>
        </p>
    </div>
</body>
</html>