<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <title>کنکوق - وظیفه جدید</title>
</head>
<body>
    <div class="text-center" style="text-align: center; border: 1px solid #EEE; direction: rtl">
        <h1><a href="{{ protocol }}://{{ domain }}" style="text-decoration: none; color:#009afd">کنکوق</a></h1>
        <h2 style="color: #666;">وظیفه جدید</h2>
        <br>
        <p>
            <span class="text-primary">کنکور:</span>&nbsp;&nbsp;{{ entrance }}<br>
            <span class="text-primary">تاریخ:</span>&nbsp;&nbsp;{{ date }}<br>
            <span class="text-primary">لینک:</span>&nbsp;&nbsp;{{ link }}<br>
            <br>
            <span class="text-primary">مسئول:</span>&nbsp;&nbsp;{{ owner.get_full_name }}
        </p>
    </div>
</body>
</html>