{% extends 'main/main_layout.html' %}
{% block title %}کنکوق - تغییر گذرواژه{% endblock %}
{% block content %}
<div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
    <br><br>

    <div class="panel panel-cc-stk panel-cc-gray">
        <div class="panel-heading">
            <div class="panel-title">تغییر گذرواژه</div>
        </div>
        <div class="panel-body">
            <!--{% if validlink %}-->
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="control-label sr-only" for="{{ form.new_password1.id_for_label }}">نام کاربری:</label>
                        {{ form.new_password1 }}
                    </div>
                    {% if form.new_password1.errors %}
                        <div class="col-sm-12">
                            <span class="text-danger">{{ form.new_password1.errors.0 }}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="control-label sr-only" for="{{ form.new_password2.id_for_label }}">نام کاربری:</label>
                        {{ form.new_password2 }}
                    </div>
                    {% if form.new_password2.errors %}
                        <div class="col-sm-12">
                            <span class="text-danger">{{ form.new_password2.errors.0 }}</span>
                        </div>
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-CC-fill btn-primary btn-block">ذخیره</button>
                    </div>
                    <br>
                </div>
            </form>
            {% else %}
            <div class="alert alert-danger text-center">
                لینک فاقد اعتبار لازم می باشد. لطفا دوباره سعی نمایید.
            </div>
            {% endif %}
        </div>
        <div class="panel-footer">
            <ul class="CC-list-group">
            <li><a href="{% url 'main.auth.login' %}">بازگشت به صفحه ورود</a></li>
            {% if not validlink %}
            <li class="lst"><a href="{% url 'main.auth.passreset' %}">بازیابی گذرواژه</a></li>
            {% endif %}
                </ul>
            </div>
    </div>
</div>
{% endblock %}