{% extends 'main/main_layout.html' %}
{% block title %}Concough - Reset Password{% endblock %}
{% block content %}
<div class="container">
    {% ifnotequal error_code 0 %}
    <br><br>
    {% ifequal error_code 5 %}
    <div class="alert alert-danger text-center">
        Your maximum sending SMS reached. Please Try Tomorrow.
    </div>
    {% endifequal %}
    <br>
    {% endifnotequal %}

<div class="row">


<div class="col col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
    <br><br>

    <div class="card" style="border: none">
        <div class="card-block">
            <div class="card-title">
                <h1 class="h3 text-center" style="font-weight: 200;">Recover Your Password</h1>
            </div>
            <br>
            <p class="alert bg-faded bg-muted text-center">
                <span style="font-size: 1.2em"> We're sending you SMS with code included.</span><br>
                <strong class="text-warning">Check your SMS Inbox</strong>
            </p>

            <form class="form-horizontal" method="post" action="{% url 'main.auth.passresetdone' %}">
                {% csrf_token %}
                <div class="form-group">
                        <label class="control-label sr-only" for="{{ form.token.id_for_label }}">Code:</label>
                    <div class="input-group">
                        <div class="input-group-addon">Code</div>
                        {{ form.token }}

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label sr-only" for="{{ form.new_password1.id_for_label }}">Password:</label>
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                            <span class="text-danger">{{ form.new_password1.errors.0 }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                        <label class="control-label sr-only" for="{{ form.new_password2.id_for_label }}">Password Confirm:</label>
                        {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                            <span class="text-danger">{{ form.new_password2.errors.0 }}</span>
                    {% endif %}
                </div>

                <div class="form-group">
                    <div class="row align-items-center">
                    <div class="col col-12 col-md-5">
                        <button type="submit" name="form_save" class="btn btn-success btn-block btn-lg">Save</button>

                    </div>
                    <div class="col col-12 col-md-2 hidden-md-down text-center">OR
                        </div>
                    <div class="col col-12 col-md-5">
                        <br class="hidden-md-up">
                            <button type="submit" name="resend_code" class="btn btn-outline-primary btn-block btn-lg" href="#">Resend Code</button>
                        </div>

                    </div>
                </div>

            </form>

</div>
        </div>
    </div>
</div></div>

{% endblock %}