{% extends 'main/authenticated_layout.html' %}
{% block title %}کنکوق - تغییر گذرواژه{% endblock %}
{% block content %}
    <h3><span class="fa fa-desktop"></span>&nbsp;&nbsp;
        <a href="{% url 'admin.home' %}">پنل مدیریت سامانه</a>&nbsp;&nbsp;
        <span class="fa fa-angle-left small"></span>&nbsp;&nbsp;
        تغییر گذرواژه
    </h3>
    <hr>
    <div class="container-fluid">
    <h4>
    <span class="fa fa-plus text-success"></span>&nbsp;&nbsp;<span class="">مشخصات گذرواژه جدید</span>
    </h4>
    <br>
    <div class="">
    <div class="col-sm-12">
        <form class="form-horizontal" method="post" action="{% url 'main.auth.passchange' %}">
            {% csrf_token %}
            {% if form.errors %}
            {% endif %}
            <div class="form-group">
                <div class="col-sm-6 col-md-4">
                    {{ form.old_password }}
                </div>
                <div class="col-sm-4">
                    <span class="text-danger">{{ form.old_password.errors.0 }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-md-6">
                    {{ form.new_password1 }}
                </div>
                <div class="col-sm-4">
                    <span class="text-danger">{{ form.new_password1.errors.0 }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-md-6">
                    {{ form.new_password2 }}
                </div>
                <div class="col-sm-4">
                    <span class="text-danger">{{ form.new_password2.errors.0 }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary btn-block">ذخیره</button>
                </div>
            </div>

        </form>
    </div>
        </div>
    </div>
{% endblock %}