{% extends 'admin/contest_layout.html' %}
{% block title %}مدیریت راهنما - {{section.title}} | {{selected_sub.title}} | ویرایش اطلاعات دستگاه{% endblock %}
{% block content %}
{{ block.super }}
{% load filters %}
{% load afilters %}
<div class="panel panel-default cpanel">
    <div class="panel-heading">
    <h5><span class="fa fa-desktop"></span>&nbsp;&nbsp;
        <a href="{% url 'admin.home' %}">پنل مدیریت سامانه</a>&nbsp;&nbsp;
        <span class="fa fa-angle-left small"></span>&nbsp;&nbsp;
        <a href="{% url 'admin.help_manage.sections' %}">مدیریت راهنما</a>&nbsp;&nbsp;
        <span class="fa fa-angle-left small"></span>&nbsp;&nbsp;
        <a href="{% url 'admin.help_manage.sections.langs.list' unique_id=section.unique_id.hex %}">{{section.title}}</a>&nbsp;&nbsp;
        <span class="fa fa-angle-left small"></span>&nbsp;&nbsp;
        <a href="{% url 'admin.help_manage.sections.langs.subs' unique_id=section.unique_id.hex lang=lang %}">{{section.data|dict_value:lang|dict_value:'title'}}</a>&nbsp;&nbsp;
        <span class="fa fa-angle-left small"></span>&nbsp;&nbsp;
        <a href="{% url 'admin.help_manage.sections.langs.subs' unique_id=section.unique_id.hex lang=lang  %}?q={{selected_sub.slug}}">{{selected_sub.title}}</a>&nbsp;&nbsp;
        <span class="fa fa-angle-left small"></span>&nbsp;&nbsp;
        ویرایش اطلاعات دستگاه
    </h5>
        </div>
    <div class="panel-body">
        <br>
    <div class="container-fluid">
        {% if err %}
            {% ifequal error_no 1 %}
            <div class="alert alert-danger" role="alert">
                چنین رکوردی موجود نیست
                <a href="{% url 'admin.help_manage.sections.langs.subs' unique_id=section.unique_id.hex lang=lang  %}?q={{selected_sub.slug}}" class="btn btn-danger pull-left">بازگشت</a>
            </div>
            {% endifequal %}
        {% else %}
    <h4>
            <span class="search-box">
                <a href="{% url 'admin.help_manage.sections.langs.subs.devices.del' unique_id=section.unique_id.hex lang=lang sub_unique_id=selected_sub.unique_id.hex device=device %}" class="btn btn-danger pull-left">حذف</a>
            </span>
        <span class="fa fa-plus text-success"></span>&nbsp;&nbsp;<span class="">ویرایش اطلاعات:
        <span class="text-primary">{{ device }}</span>
    </span>
    </h4>
        <br>
    <div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" method="post" action="{% url 'admin.help_manage.sections.langs.subs.devices.edit' unique_id=section.unique_id.hex lang=lang sub_unique_id=selected_sub.unique_id.hex device=device %}">
            {% csrf_token %}
            {% if has_form_message %}
                {% ifequal form_message 1 %}
                    <div class="alert alert-danger text-center">
                        مشخصات تکراری وارد شده است!
                    </div>
                {% endifequal %}
            {% endif %}
            <div class="form-group">
                <label class="control-label col-sm-2" for="{{ form.dexcription.id_for_label }}">توضیحات:</label>
                <div class="col-sm-10">
                {{ form.description }}
                </div>
                <div class="col-sm-3">
                    <span class="text-danger">{{ form.description.errors.0 }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">&nbsp;</div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary btn-block">ذخیره</button>
                </div>
                <div class="col-sm-1">
                    <a href="{% url 'admin.help_manage.sections.langs.subs' unique_id=section.unique_id.hex lang=lang  %}?q={{selected_sub.slug}}" class="btn btn-link">بازگشت</a>
                </div>
            </div>
        </form>
    </div>
    </div>
        {% endif %}
    </div></div></div>
{%  endblock %}
{% block js %}
{% load static %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}